
<div id="mySidenav" class="sidenav">
    <a href="javascript:void(0)" class="closebtn" (click)="closeNav()">&times;</a>
    <a (click)="personalShow()">Personal Summary</a>
    <a   (click)="professionalShow()">Professional Summary</a>
    <a   (click)="timeShow()">Time Summary</a>
    <a   (click)="logout()">Logout</a>
</div>
  
  <div id="main">
    <span style="font-size:30px;cursor:pointer" (click)="openNav()">&#9776; Menu</span>
  </div>
<div class="acc_summary_head">
  <div class = "tableInfo" id="personal" *ngIf="personal">
    <p class="table_summary_heading">Personal info Summary</p>
    <table>
        <tr>
          <th>Full Name</th>
          <th>{{userData.full_name}}</th>
        </tr>
        <tr>
          <td>Employee ID</td>
          <td>{{userData.emp_id}}</td>
        </tr>
        <tr>
            <td>Email</td>
            <td>{{userData.email}}</td>
        </tr>
        <tr>
            <td>Department</td>
            <td>{{userData.dept}}</td>
        </tr>
        <tr>
            <td>Designation</td>
            <td>{{userData.designation}}</td>
        </tr>
        <tr>
            <td>Work Location</td>
            <td>{{userData.geography}}</td>
        </tr>
       
        
      </table>
  </div>

  <div class = "tableInfo" id="professional" *ngIf="professional">
    <p class="table_summary_heading">Professional info Summary</p>
    <table>
        <tr>
            <td>Full Name</td>
            <td>{{userData.full_name}}</td>
        </tr>
        <tr>
            <td>Reporting Manager</td>
            <td>{{userData.manager_name}}</td>
        </tr>
        <tr>
            <td>Employee Start Date</td>
            <td>{{userData.emp_start_date}}</td>
        </tr>
        <tr>
            <td>Project Assigned Date</td>
            <td>{{userData.emp_project_assigned_date}}</td>
        </tr>
        <tr>
            <td>Project Name</td>
            <td>{{userData.project_name}}</td>
        </tr>
        <tr>
            <td>Resource Status</td>
            <td>{{userData.resource_status}}</td>
        </tr>
      </table>
  </div>
</div>
  <div class = "tableInfo" id="Timeinfo" *ngIf="time">
    
    <full-calendar [options]="calendarOptions"></full-calendar>
  </div>

  <ng-template #content let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Submit Time</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      
      <div>
        <label>Date </label>
        <input [(ngModel)]="timeInfo.date" />
      </div>
      <div>
        <label>Time Type: </label>
        <select name="" id="" [(ngModel)]="timeInfo.time_type">
          <option value=CL>CL</option>
          <option value=SL>SL</option>
          <option value=AL>AL</option>
          <option value=wfh>WFH</option>
          <option value=REG>REG</option>
        </select>
      </div>
      <div>
        <label>Hours: </label>
        <input [(ngModel)]="timeInfo.hours" />
      </div>
      <div>
        <label>Comments: </label>
        <input [(ngModel)]="timeInfo.comments" />
      </div>
      
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Submit Time info</button>
    </div>
  </ng-template>

