
<div *ngIf="timeDatas?.length > 0">
    <table>
      <thead>
        <tr class="emp_list_th">
          <!-- <tr> -->
              <th data-field="dateInfo" data-checkbox="true">User ID</th>
              <th data-field="username" data-checkbox="true">User Name</th>
              <th data-field="manager name" data-filter-control="input" data-sortable="true">Project Time</th>
              <th data-field="time type" data-filter-control="input" data-sortable="true">Bench Time</th>
              <th data-field="hours" data-filter-control="select" data-sortable="true">SL</th>
              <th data-field="status" data-filter-control="select" data-sortable="true">CL</th>
              <th data-field="Review" data-filter-control="select" data-sortable="true">AL</th>
              <th data-field="Review" data-filter-control="select" data-sortable="true">Unapproved</th>
          </tr>
      </thead>
      <tbody>
                  <tr class="emp_list_th" *ngFor="let timedata of timeDatas">
          
                  <td><a href="url">{{timedata.user_id}}</a></td>
                  
                  <td>{{timedata.user_name}}</td>
                  <td><a href="url">{{timedata.project_time}}</a></td>
                  <td><a href="url">{{timedata.bench}}</a></td>
                  <td><a href="url">{{timedata.sl}}</a></td>
                  <td><a href="url">{{timedata.cl}}</a></td>
                  <td><a href="url">{{timedata.al}}</a></td>
                  <td><a href="url">{{timedata.ur}}</a></td>
                
              </tr>
       
      </tbody>
    </table>
  </div>
