[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
sqlalchemy = "*"
pyodbc = "*"
marshmallow = "*"
flask = "*"
flask-cors = "*"
flask-expects-json = "*"
flask-mail = "*"
pytest = "*"

[dev-packages]

[requires]
python_version = "3.9"
