h1 {
    font-weight:bold;
    color: blue;
  }

.container {
    width:auto;
	padding: 2em;
    border: chartreuse;
    font-size: small;
}

.container td, .container th {
    border: 1px solid #ddd;
    padding: 8px;
  }

  .example-additional-selection {
    opacity: 0.75;
    font-size: 0.75em;
  }