<div class="add_project_bg">
  <div class="container card">
    <div class="add_project_align">
      <div class="container">
        <table>
          <thead>
            <tr class="proj_list_th">
              <th data-field="Client Name" data-checkbox="true">Client Name</th>
              <th data-field="Project Name" data-filter-control="input" data-sortable="true">Project Name</th>
              <th data-field="Billing Type" data-filter-control="select" data-sortable="true">Billing Type</th>
              <th data-field="Segment" data-filter-control="select" data-sortable="true">Segment</th>
              <th data-field="Geography" data-filter-control="select" data-sortable="true">Geography</th>
              <th data-field="Solution Category" data-filter-control="select" data-sortable="true">Solution Category
              </th>
              <th data-field="Financial year" data-filter-control="select" data-sortable="true">Financial year</th>
              <th data-field="Project Code" data-filter-control="select" data-sortable="true">Project Code</th>
              <th data-field="Resource Info" data-filter-control="select" data-sortable="true">Resource Info</th>

            </tr>
          </thead>
          <tbody>
            <tr class="proj_list_th" *ngFor="let item of project_list">
              <td>{{item.client_name}}</td>
              <td>{{item.project_name}}</td>
              <td>{{item.billing_type}}</td>
              <td>{{item.segment}}</td>
              <td>{{item.geography}}</td>
              <td>{{item.solution_category}}</td>
              <td>{{item.financial_year}}</td>
              <td>{{item.project_code}}</td>
              <td>
                <button (click)="open(content,item.project_code)" type="button" class="add_projects">Add</button>
                {{item.resource_info}}
              </td>
              <!-- <td><button (click)="addResource(item.project_code)">Add</button> {{item.resource_info}} </td> -->

            </tr>

          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>



<ng-template #content let-modal>
  <div class="modal-header profile_update_header">
    <h4 class="modal-title add_res_title" id="modal-basic-title">Profile update</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body profile_update_body">
    <p class="model_title"> Add Resource to this project : </p>
    <div class="model-body-content">
      <div class="body_content_align">
        <label>Project ID: </label>
        <input [(ngModel)]="projectResource.project_id" />
      </div>
      <div class="body_content_align">
        <label>Employee ID: </label>
        <select [(ngModel)]="projectResource.emp_id">

          <option *ngFor="let item of employee_list" value={{item.emp_id}}>{{item.emp_id}}</option>

        </select>
      </div>
    </div>
  </div>
  <div class="modal-footer profile_update_header">
    <button type="button" class="add_projects" (click)="modal.close('Save click')">Save</button>
  </div>
</ng-template>

<!-- <button class="btn btn-lg btn-outline-primary" (click)="open(content)">Launch demo modal</button> -->