body {
    font-family: "Lato", sans-serif;
  }
  table, th, td {
    border: 1px solid black;
  }
  .sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    font-size: 10px;
  }

  .container {
    width:auto;
    padding: 2em;
    border: chartreuse;
    font-size: small;
    display: grid;
    margin-top: 20px;
  }
  
  .container td, .container th {
    border: 1px solid #ddd;
    padding: 15px;
  }
  .tableInfo{
    margin:10%;
    width: 60%;
    border: 3px solid #050800;
    padding: 10px;
  }

  .time_submission_table{
    display: grid;
    width: 100%;
    height: auto;
    justify-content: center;
    align-items: center;
}

.emp_list_th > th{
    background-color: #86AEC1;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    border: 1px solid black;
    padding:10px;
}
.emp_list_th > td{
    width: 15px;
    background-color: #C9DBE3;
    border: 1px solid black;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    color: black;
    font-size: 15px;
    padding:10px
  }
.emp_list_th > td:last-child{
    padding: 3px;
}
.emp_list_th > td:last-child > button:nth-child(1){
    margin-right: 5px;
}
.timesub_heading{
    font-size: 30px;
  font-weight: 600;
  font-family: 'Times New Roman', Times, serif;
}
.mtop{
  margin-top: 110px;
}
.time_sub_heading{
  font-size: 30px;
color: #ffffff;
font-weight: 600;
font-family: 'Arial', Times, serif;
}
.for_filter_search{
  width: 100%;
  height: 75px;
  border: 1px solid #E4E4E4;
  box-shadow: 0 2px 4px 0 rgb(0 0 0 / 5%);
  display: grid;
  grid-template-columns: repeat(6,auto);
  align-items: center;
  position: relative;
  margin-bottom: 10px;
  border-radius: 12px ;
}

.table_border{
  width: 100%;
  height: auto;
  border: 1px solid #E4E4E4;
  box-shadow: 0 2px 4px 0 rgb(0 0 0 / 5%);
  display: grid;
  align-items: center;
  position: relative;
  margin-bottom: 10px;
  border-radius: 12px ;
}
.for_filter_search > div{
  margin: 10px 20px;
}
::ng-deep ngb-popover-window{
  z-index: 1000 !important;
  left: -152px !important;
  top: 9px !important;
  min-width: 400px

}
::ng-deep ngb-popover-window.bs-popover-bottom>.arrow, ngb-popover-window.bs-popover-top>.arrow{
  left: 89% !important;
}
::ng-deep mat-form-field > div > .mat-form-field-flex {
  background-color: #ffffff !important;
  padding: 0.75em 0.75em 0 0 !important;
}

::ng-deep mat-form-field > div > .mat-form-field-flex >  .mat-form-field-infix {
 padding: .25em 0 .2em 0 !important;
}
.filter_reset_btn{
  display: grid;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 14px;
    justify-items: center;
    margin: 15px 0;
}
.filter_reset_btn > button:nth-child(1){
  background-color: #ffffff;
    border: 1px solid #24a7f8;
    border-radius: 12px ;
    color: #24a7f8;
    padding-bottom: 6px;
    padding: 9px;
    margin-bottom: 10px;
    outline: none;
    text-transform: capitalize;
    min-width: 130px;
    font-size: 14px;
    font-weight: 600;
    width: 120px;
}
.filter_reset_btn > button:nth-child(1):hover{
  color: #ffffff;
  background: #24a7f8;
}
.filter_reset_btn > button:nth-child(2){
  padding-bottom: 6px;
  padding: 9px;
  outline: none;
  border: 1px solid black;
  background: #ffffff;
  color: black;
  text-transform: capitalize;
  min-width: 130px;
  font-size: 14px;
  font-weight: 600;
  width: 120px;
  transition-property: background-color border color;
  transition-duration: 2s;
}
.filter_reset_btn > button:nth-child(2):hover{
color: #24a7f8;
background: #ffffff;
border: 1px solid #24a7f8;
}
.time_submission_table{
  padding: 30px 20px;
}
.time_submission_table > table{
  table-layout: fixed;
  width: 100%;
}
.time_sub_row > th {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  color:black;
  }
  table{
    border-spacing: 0;
    z-index: 2;
    background: #ffffff;
    border-radius: 12px 12px 0 0 ;
    box-shadow: 0 2px 12px rgba(32,32,32,.3);
  }
  .time_sub_row > td
  {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  color: black;
  font-size: 14px;
      font-style: normal;
      font-stretch: normal;
  }
  .bg_color_total{
    background-color: #58aee4;
  }
  .bg_color_total > td{
    color: #ffffff;
    font-weight: 700;
  }
  .modal-title{
      width: 180%;
      table-layout: center;
      overflow: auto;
  }
  .modal-body{
    width: auto;
    table-layout: middle;
  }
.center{
  margin-left: auto;
  margin-right: auto;
}
.emp_list_th{
  padding: 2px;
}
.time_submission_tableRT{
  padding: 5px 5px;
}
.time_submission_tableRT > table{
  table-layout: absolute;
  width: 75%;
} 
.containerRT{
  width: 200px;
  padding: 0px;
    border: chartreuse;
    font-size: small;
    margin-top: 64px;
}
.containerRT td, .containerRT th {
  border: 1px solid rgb(7, 7, 7);
  padding: 5px;
}