<div class="container" *ngIf="submissionList?.length > 0">
  <div class="time_submission_table">
    <table>
      <thead>
        <tr class="emp_list_th">
          <!-- <tr> -->
              <th data-field="dateInfo" data-checkbox="true">Date</th>
              <th data-field="username" data-checkbox="true">username</th>
              <th data-field="manager name" data-filter-control="input" data-sortable="true">Manager Name</th>
              <th data-field="time type" data-filter-control="input" data-sortable="true">Time Type</th>
              <th data-field="hours" data-filter-control="select" data-sortable="true">Hours</th>
              <th data-field="status" data-filter-control="select" data-sortable="true">Status</th>
              <th data-field="Review" data-filter-control="select" data-sortable="true">Review</th>
          </tr>
      </thead>
      <tbody>
                  <tr class="emp_list_th" *ngFor="let timeSubmissions of submissionList">
              <!-- <tr *ngFor="let item of employee_list"> -->
                  <td>{{timeSubmissions.date_info}}</td>
                  <td>{{timeSubmissions.user_id}}</td>
                  <td>{{timeSubmissions.manager_id}}</td>
                  <td>{{timeSubmissions.time_type}}</td>
                  <td>{{timeSubmissions.hours}}</td>
                  <td>{{timeSubmissions.status}}</td>
                  <td>
                    <button (click)="review(true,timeSubmissions.date_info,timeSubmissions.user_id,timeSubmissions.time_type,timeSubmissions.hours)" type="button" class="btn btn-success"><fa-icon [icon]='faCheck'></fa-icon></button>
                    <button (click)="review(false,timeSubmissions.date_info,timeSubmissions.user_id,timeSubmissions.time_type,timeSubmissions.hours)" type="button" class="btn btn-danger"><fa-icon [icon]='faTimes'></fa-icon></button>
                  </td>
                
              </tr>
       
      </tbody>
  </table>
  </div>
</div>




<div *ngIf="timeDatas?.length > 0">
  <table>
    <thead>
      <tr class="emp_list_th">
        <!-- <tr> -->
            <th data-field="dateInfo" data-checkbox="true">User ID</th>
            <th data-field="username" data-checkbox="true">User Name</th>
            <th data-field="manager name" data-filter-control="input" data-sortable="true">Project Time</th>
            <th data-field="time type" data-filter-control="input" data-sortable="true">Bench Time</th>
            <th data-field="hours" data-filter-control="select" data-sortable="true">SL</th>
            <th data-field="status" data-filter-control="select" data-sortable="true">CL</th>
            <th data-field="Review" data-filter-control="select" data-sortable="true">AL</th>
            <th data-field="Review" data-filter-control="select" data-sortable="true">Unapproved</th>
        </tr>
    </thead>
    <tbody>
                <tr class="emp_list_th" *ngFor="let timedata of timeDatas">
        
                <td><a href="url">{{timedata.user_id}}</a></td>
                
                <td>{{timedata.user_name}}</td>
                <td><a href="url">{{timedata.project_time}}</a></td>
                <td><a href="url">{{timedata.bench}}</a></td>
                <td><a href="url">{{timedata.sl}}</a></td>
                <td><a href="url">{{timedata.cl}}</a></td>
                <td><a href="url">{{timedata.al}}</a></td>
                <td><a href="url">{{timedata.ur}}</a></td>
              
            </tr>
     
    </tbody>
  </table>
</div>
