body {
    font-family: "Lato", sans-serif;
  }
  table, th, td {
    border: 1px solid black;
  }
  .sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    font-size: 10px;
  }
  .tableInfo{
    margin:10%;
    width: 60%;
    border: 3px solid #050800;
    padding: 10px;
  }