h1 {
    font-weight:bold;
    color: blue;
  }

.container {
    width:auto;
	padding: 2em;
    border: chartreuse;
    font-size: small;
}

.container td, .container th {
  border: 1px solid #ddd;
  padding: 8px;
}
.add_project_bg{
background-color:#ffffff;
width: 100%;
height: auto;
}
.add_project_heading{
font-size: 30px;
  font-weight: 600;
  font-family:Arial, Helvetica, sans-serif
}
.add_project_align{
  display: grid;
  grid-template-columns: 100%;
  grid-row-gap: 45px;
  grid-column-gap: 100px;
  width: 100%;
  padding: 60px;
  grid-column: 1 / -1;
}
.container_bg{
background-color: #2F2F2F;
border-radius: 10px;
}
.add_project_align > div > p{
margin-bottom: 10px;
font-family: 'Times New Roman', Times, serif;
font-size: 15px;
font-weight: 700;
color: #fff;
}
.add_project_align > div > input{
box-sizing: border-box;
height: 40px !important;
width: 100% !important;
border: 1px solid #E4E4E4;
border-radius: 4px;
background-color: #F5F8FA;
box-shadow: 0 2px 4px 0 rgb(0 0 0 / 5%);
}
.add_project_align > div > input:focus{
outline: 0;
}
.add_project_btn{
grid-column: 1 ;
display: grid;
width: 120px;
}
.add_project_btn > button{
  background: #f55e39;
    border-color: #f55e39;
    color: #ffffff;
    font-size: 13px;
    padding: 17px 0px;
    line-height: 13px;
    font-family: Poppins;
}