h1 {
    font-weight:bold;
    color: blue;
  }

.container {
    width:auto;
	padding: 2em;
    border: chartreuse;
    font-size: small;
}

.container td, .container th {
    border: 1px solid #ddd;
    padding: 8px;
  }
.add_project_bg{
  background-color:#ffffff;
  width: 100%;
  height: auto;
}
.add_project_heading{
  font-size: 30px;
    font-weight: 600;
    font-family: 'Times New Roman', Times, serif;
}
.add_project_align{
  display: grid;
    grid-template-columns: repeat(2,auto);
    grid-row-gap: 45px;
    grid-column-gap: 100px;
    justify-content: center;
    width: 100%;
    padding: 30px;
}
.container_bg{
  background-color: rgb(188,235,255);
  border-radius: 10px;
}
.add_project_align > div > p{
  margin-bottom: 10px;
  font-family: 'Times New Roman', Times, serif;
  font-size: 15px;
  font-weight: 700;
}
.add_project_align > div > input{
  box-sizing: border-box;
  height: 40px !important;
  width: 259px !important;
  border: 1px solid #E4E4E4;
  border-radius: 4px;
  background-color: #FFFFFF;
  box-shadow: 0 2px 4px 0 rgb(0 0 0 / 5%);
}
.add_project_align > div > input:focus{
  outline: 0;
}
.add_project_btn{
  grid-column: 1 / -1;
}
.add_project_btn > button {
  width: 100%;
  height: 40px;
  background: #05F04B;
  color: #ffffff;
  font-size: 15px;
}