<div class="add_project_bg" *ngIf="isVisible">
  <div class="container card">
    <p class="add_project_heading"> Add Project</p>
    <div class="ps" style="position: relative; max-height: calc(100vh - 173px);" ></div>
      <form class="add_project_align container_bg" #projectForm = "ngForm" ngSubmit="onSubmit()">
      <div>
        <p>Client Name: </p>
        <input requied #clientID="ngModel" required minlength="10" class="form-control" [(ngModel)]="project.clientname" />
        <br><span *ngIf="clientID.invalid && clientID.touched" class="error">Client ID is required</span>
      </div>
      <div>
        <p>ProjectCode: </p>
        <input requied #projectID="ngModel" required minlength="10" class="form-control" [(ngModel)]="project.projectcode" />
        <br><span *ngIf="projectID.invalid && projectID.touched" class="error">Project code is required</span>
      </div>
      <div>
        <p>Project Name: </p>
        <input requied #projectName="ngModel" required minlength="10"class="form-control" [(ngModel)]="project.projectname" />
        <br><span *ngIf="projectName.invalid && projectName.touched" class="error">Project name is required</span>
      </div>
      <div>
        <p>Project Start Date: </p>
        <mat-form-field>
          <input matInput [matDatepicker] = "projStartDate" class="form-control" placeholder="Select Date">
          <mat-datepicker-toggle matSuffix [for]="projStartDate"></mat-datepicker-toggle>
          <mat-datepicker #projStartDate></mat-datepicker>
        </mat-form-field>

      </div>
      <!-- <div>
        <p>Project Status: </p>
        <input [(ngModel)]="project.projectstatus" />
      </div> -->
      <div>
        <p>Billing Type: </p>
        <!-- <input [(ngModel)]="project.billingtype" /> -->
        <mat-select  class="form-control" [(ngModel)]="project.billingtype" name="billing" style="width:225px">
          <mat-option >None</mat-option>
          <mat-option value="Billable">Billable</mat-option>
          <mat-option value="Non-Billable">Non-Billable</mat-option>
        </mat-select>
        <!-- <input [(ngModel)]="project.billingtype" /> -->
      </div>  
      <div>
        <p>Segment: </p>
        <mat-select   class="form-control" [(ngModel)]="project.billingtype" name="segment" style="width:225px" >
          <mat-option>None</mat-option>
          <mat-option value="Consulting Service">Counsulting Service</mat-option>
          <mat-option value="Managed Service">Managed Service</mat-option>
        </mat-select>
        <!-- <input [(ngModel)]="project.segment" /> -->
      </div>
      <div>
        <p>Geography: </p>
        <mat-select  class="form-control" [(ngModel)]="project.billingtype" name="geography" style="width:225px">
          <mat-option >None</mat-option>
          <mat-option value="India">India</mat-option>
          <mat-option value="United State">United State</mat-option>
        </mat-select>
        <!-- <input [(ngModel)]="project.geography" /> -->
      </div>
      <div>
        <p>Solution category: </p>
        <mat-select  class="form-control"  [(ngModel)]="project.billingtype" name='solutioncategory' style="width:225px">
          <mat-option >None</mat-option>
          <mat-option value="Product Developement">Product Developement</mat-option>
          <mat-option value="Data Analytics">Data Analytics</mat-option>
        </mat-select>
        <!-- <input [(ngModel)]="project.solutioncategory" /> -->
      </div>
      <div>
        <p>Financial year: </p>
        <input  class="form-control"[(ngModel)]="project.financialyear" />
      </div>
      <div class="add_project_btn">
        <button type="button" class="btn btn-success" (click)="onSubmit()">Save</button>
      </div>
    </form>
  </div>
</div>

<!--

<div>
  <div>
    <label>Client Name: </label>
    <input [(ngModel)]="project.clientname" />
  </div>
  <div>
    <label>projectCode: </label>
    <input [(ngModel)]="project.projectcode" />
  </div>
  <div>
    <label>Project Name: </label>
    <input [(ngModel)]="project.projectname" />
  </div>
  <div>
    <label>Project Start Date: </label>
    <input [(ngModel)]="project.projectstartdate" />
  </div>
  <div>
    <label>Project Status: </label>
    <input [(ngModel)]="project.projectstatus" />
  </div>
  <div>
    <label>Billing Type: </label>
    <input [(ngModel)]="project.billingtype" />
  </div>
  <div>
    <label>Segment: </label>
    <input [(ngModel)]="project.segment" />
  </div>
  <div>
    <label>Geography: </label>
    <input [(ngModel)]="project.geography" />
  </div>
  <div>
    <label>Solution category: </label>
    <input [(ngModel)]="project.solutioncategory" />
  </div>
  <div>
    <label>Financial year: </label>
    <input [(ngModel)]="project.financialyear" />
  </div>


  <div>
    <button (click)="onSubmit()">Add</button>
  </div>
</div> -->
