h1 {
  font-weight:bold;
  color: blue;
}

.container {
  width:auto;
padding: 2em;
  border: chartreuse;
  font-size: small;
}

.container td, .container th {
  border: 1px solid #ddd;
  padding: 8px;
}
.emp_list_th > th {
background-color: #222;
font-family: Arial, Helvetica, sans-serif;
text-align: center;
color: #ddd;
border: 1px solid #ffffff;
}
.emp_list_th > td
{
background-color: grey;
border: 1px solid #ffffff;
font-family: Arial, Helvetica, sans-serif;
text-align: center;
color: #ffffff;
font-size: 15px;
}
.emp_list_heading{
font-size: 30px;
font-weight: 600;
font-family: 'Times New Roman', Times, serif;
}
.add_res_title{
text-align: center;
font-family: Arial, Helvetica, sans-serif;
width: 100%;
color: #ffffff;
}
.model_title{
font-family: Arial, Helvetica, sans-serif;
font-size: 20px;
color: #ffffff;
}
.profile_update_header{
background-color: #222;
}
.profile_update_body{
background-color: grey;
}
.profile_update_header > button{
color: #ffffff;
}
.model-body-content{
display: grid;
grid-template-columns: 1fr;
grid-template-rows: 70px;
}
.body_content_align{
display: grid;
grid-template-columns: 120px 200px;
}
.body_content_align > input {
height: 33px;
box-sizing: border-box;
  border: 1px solid #E4E4E4;
  background-color: #FFFFFF;
  box-shadow: 0 2px 4px 0 rgb(0 0 0 / 5%);
}
.body_content_align > input:focus {
outline: 0;
}
.body_content_align > label{
font-size: 17px;
color: #ffffff;
font-family: Arial, Helvetica, sans-serif;
}
.body_content_align > select {
height: 33px;
box-sizing: border-box;
  border: 1px solid #E4E4E4;
  background-color: #FFFFFF;
  box-shadow: 0 2px 4px 0 rgb(0 0 0 / 5%);
}
.body_content_align > select:focus {
outline: 0;
}
.add_employess{
background: #f55e39;
border-color: #f55e39;
color: #ffffff;
font-size: 13px;
padding: 5px 10px;
line-height: 13px;
font-family: Poppins;
}