/* .nav-item{
  float: right;
}

.header_navbar{
  display: grid;
  width: 100%;
  grid-template-columns: 200px 130px 130px auto;
  margin: 0px 80px;
}
.login_icon{
  display: grid;
  justify-content: end;
}
.header_menu > p {
  color:#222 !important;
  display: grid;
  align-self: center;
  text-align: center;
  cursor: pointer;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 700;
  font-size: 17px;
  letter-spacing: -0.6px;
}
.header_menu >a{
  color:black !important;
}
.header_menu  {
  display: grid;
  align-self: center;
}
/* .dropbtn:hover, .dropbtn:focus {
background-color: #2980B9;
} */
/*.dropbtn{
  margin: 0;
  font-size: 19px;
}
.dropbtn:focus{
  outline: 0;
}
.dropdown {
position: relative;
display: inline-block;
}

.dropdown-content {
display: none;
position: absolute;
min-width: 160px;
overflow: auto;
box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
z-index: 1;
background-color: #1e73be ;
top: 42px;
}
#mySidenav {
  
  top: 72px !important;
  right: 0;

}
.dropdown-content a {
color: #fff;
padding: 12px 16px;
font-weight: 700;
text-decoration: none;
display: block ;
font-family:Arial, Helvetica, sans-serif;
}
.dropdown a:hover {background-color: #333;}
.login_icon a:hover {background-color: #333;}
.show {display: block;}
.top_bar{
background-color: #222;
width: 100%;
}
.top_bar_content{
display: grid;
grid-template-columns: 330px 250px;
justify-content: end;
padding-right: 88px;
}
.top_bar_content > p{
color: #fff;
margin-bottom: 0;
padding: 17px 23px;
line-height: 22px;
font-weight: 700;
font-family:Arial, Helvetica, sans-serif
}
.navbar-expand-lg{
height: 110px;
} */

.header_bar{
  width: 100%;
  background: #fbfbfb;
  height: auto;
  min-height: 60px;
  border-top:1px solid #dee4eb;
  display: grid;
  grid-template-columns: 200px auto;
}
.logo{
  width: 100px;
  padding: 10px;
}
.header_content{
  border-bottom: 1px solid #dee4eb;
  display: grid;
  align-items: center;
  justify-content: end;
  padding-right: 20px;
}
.log_off_icon {
  color: #7f8fa4;
}
.log_off_icon:hover{
  color: #278ef1;
}
