<div class="bg_home_scr">
    <!-- <div class="divide_home_screen">
        <div class="side_bar_bg" >
            <div class="side_bar">
                <p>Announcements<p>
                <ul>
                    <li>
                        Lorem, ipsum dolor sit amet consectetur adipisicing elit.
                    </li>
                    <li>
                        Lorem, ipsum dolor sit amet consectetur adipisicing elit.
                    </li>
                    <li>
                        Lorem, ipsum dolor sit amet consectetur adipisicing elit.
                    </li>
                    <li>
                        Lorem, ipsum dolor sit amet consectetur adipisicing elit.
                    </li>
                    <li>
                        Lorem, ipsum dolor sit amet consectetur adipisicing elit.
                    </li>
                    <li>
                        Lorem, ipsum dolor sit amet consectetur adipisicing elit.
                    </li>
                    <li>
                        Lorem, ipsum dolor sit amet consectetur adipisicing elit.
                    </li>
                </ul>
            </div>
        </div>
        <div class="main_div_image">
            <fa-icon class="home_svg_img" [icon]='faHome' routerLink="/"></fa-icon>
            <fa-icon class="home_svg_img" [icon]='faTools' routerLink="/project"></fa-icon>
            <div></div>
            <fa-icon class="home_svg_img" [icon]='faUser' routerLink="/employee"></fa-icon>
            <fa-icon class="home_svg_img" [icon]='faAddressCard' routerLink="/time"></fa-icon>
        </div>
    </div> -->
</div>