h1 {
    font-weight:bold;
    color: blue;
  }
  
  .container {
    width:auto;
  padding: 2em;
    border: chartreuse;
    font-size: small;
  }
  
  .container td, .container th {
  border: 1px solid #ddd;
  padding: 8px;
  }
  .add_employee_bg{
  background-color:#ffffff;
  width: 100%;
  height: auto;
  margin-top: 60px;
  }
  .container_bg{
  background-color: #fff;
  border-radius: 10px;
  border: 1px solid #cbd5e1;
  }
  .add_employee_align{
  display: grid;
    grid-template-columns:repeat(3,1fr);
    grid-row-gap: 45px;
    grid-column-gap: 100px;
    justify-content: center;
    width: 100%;
    padding: 54px;
  }
  .add_employee_align > div > p{
  margin-bottom: 10px;
  font-family:Arial, Helvetica, sans-serif;
  font-size: 12px;
  color: #7f8fa4;
  font-weight: 700;
  }
  .add_employee_align > div > p::after{
    content: "*";
      color: #f66;
      position: relative;
      bottom: 3px;
      left: 1px;
  }
  .add_employee_align > div > input{
  box-sizing: border-box;
  height: 34px !important;
  width: 220px !important;
  padding: 6px 12px;
  background-color: #ffffff;
  border-radius: 4px;
  border: 1px solid #cbd5e1;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  box-shadow: 0 2px 4px 0 rgb(0 0 0 / 5%);
  }
  .add_employee_align > div > input:focus{
  outline: 0;
  }
  .add_emp_heading{
  font-size: 30px;
  font-weight: 600;
  color: #7f8fa4;
  font-family:Arial, Helvetica, sans-serif;
  }
  
  .add_btn-emp > button{
  border-radius: 4px;
  border: 1px solid transparent;
  min-height: 30px;
  min-width: 85px;
  padding: 7px 14px;
  font-family: Open Sans,sans-serif;
  font-size: 14px;
  font-weight: 600;
  color: #24a7f8;
  margin: 15px;
    border-color: #24a7f8;
    background: #fff
  }
  .add_btn-emp{
  grid-column: 1/ -1 ;
  justify-content: center;
  display: grid;
  }
  .add_btn-emp > button:hover{
  background: #0895ec;
  border-color: #0895ec;
  color: #fff;
  }
  .add_btn-emp > button:active{
  background: #0895ec !important;
  border-color: #0895ec !important;
  color: #fff !important;
  outline: 0;
  }
  .add_btn-emp > button:focus{
  background: #0895ec !important;
  border-color: #0895ec !important;
  color: #fff !important;
  outline: 0;
  }
  .error{
    color: red;
    animation-name: erroranimation;
    animation-duration: 1s;
    opacity: 3s;
    animation-iteration-count: infinite;
  }
  .parent_div{
    position: relative;
  }
  @keyframes erroranimation {
    0%{
    opacity: 0;
  
    }
    50%{
      opacity: 0.5;
    
      }
    100%{
    opacity: 1;
    }
    
  }