<!-- <app-add-employee></app-add-employee>
<app-employees></app-employees>
<app-add-projects></app-add-projects>
<app-view-projects></app-view-projects> -->

<app-navigation></app-navigation>
<div class="side_main_content">
    <app-side-bar></app-side-bar>
    <router-outlet></router-outlet>
</div>

<!-- https://www.tektutorialshub.com/angular/angular-http-post-example/ -->
<!-- https://ivywalobwa.medium.com/build-a-bootstrap-4-navbar-in-angular-8-with-angular-fontawesome-icons-72923928f89f -->