 
<h1 *ngIf = "forgotPass === false && login === false" >Please Login to Continue</h1>
<h1 *ngIf = "forgotPass === true" >Please set you password Here</h1>

<div *ngIf = "login === false">
    <div>
      <label>Employee ID/Email: </label>
      <input [(ngModel)]="project.emp_id" />
    </div>
    <div>
      <label>Password: </label>
      <input [(ngModel)]="project.password" />
    </div> 

    <div *ngIf = "forgotPass === true" >
      <label>Confirm Password: </label>
      <input [(ngModel)]="project.confirmpass" />
    </div> 
    
    <div >
      <button *ngIf = "forgotPass === false" (click)="onSubmit()">Login</button>
      <button *ngIf = "forgotPass === true" (click)="createPassword()">Create Password</button> 
      <button (click)="forgot()">Forgot Password</button>
    </div>
</div>

<div *ngIf = "login === true">
 
  <div>
    <button (click)="logout()">Logout</button> 
  </div>
</div>