.header{
    font-family: arial, sans-serif;
    font-size: 10px;
    padding: 50px 20px 10px 250px;
    margin: 10px;
    
}
.tableInfo{
    padding: 0px 20px 60px 80px;
}
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 80%;
    padding: 20px 20px 20px 20px;
    justify-content: center;
  }
  
  td{
    border: 1px solid #dddddd;
    text-align: center;
    padding: 15px ;

  } 
  th {
    border: 1px solid #dddddd;
    text-align: center;
    padding: 15px ;
  }
  
  tr:nth-child(even) {
    background-color: #dddddd;
  }