  <mat-tab-group class=nav>
    <mat-tab label="Personal Info "class=header>
      <div class="acc_summary_head">
        <div class = "tableInfo" id="personal">
          <table>
              <tr>
                <th>Full Name</th>
                <td>{{userData.full_name}}</td>
              </tr>
              <tr>
                <th>Employee ID</th>
                <td>{{userData.emp_id}}</td>
              </tr>
              <tr>
                  <th>Email</th>
                  <td>{{userData.email}}</td>
              </tr>
              <tr>
                  <th>Department</th>
                  <td>{{userData.dept}}</td>
              </tr>
              <tr>
                  <th>Designation</th>
                  <td>{{userData.designation}}</td>
              </tr>
              <tr>
                  <th>Work Location</th>
                  <td>{{userData.geography}}</td>
              </tr>
             
              
            </table>
          </div> 
        </div>  
      </mat-tab>
    <mat-tab label="Professional info" class="header" > 
    <div class = "tableInfo" id="professional">  
      <table>
          <tr>
              <th>Full Name</th>
              <td>{{userData.full_name}}</td>
          </tr>
          <tr>
              <th>Reporting Manager</th>
              <td>{{userData.manager_name}}</td>
          </tr>
          <tr>
              <th>Employee Start Date</th>
              <td>{{userData.emp_start_date}}</td>
          </tr>
          <tr>
              <th>Project Assigned Date</th>
              <td>{{userData.emp_project_assigned_date}}</td>
          </tr>
          <tr>
              <th>Project Name</th>
              <td>{{userData.project_name}}</td>
          </tr>
          <tr>
              <th>Resource Status</th>
              <td>{{userData.resource_status}}</td>
          </tr>
        </table>
    </div>
  </mat-tab>
    <mat-tab label="payinfo"> </mat-tab>
  </mat-tab-group>
    
