<div class="acc_summary_head">
  <div class=header>      
    <h1 class="table_summary_heading">Personal info Summary</h1>
  </div>
    <div class = "tableInfo" id="personal">
      <table>
          <tr>
            <td>Full Name</td>
            <td>{{userData.full_name}}</td>
          </tr>
          <tr>
            <td>Employee ID</td>
            <td>{{userData.emp_id}}</td>
          </tr>
          <tr>
              <td>Email</td>
              <td>{{userData.email}}</td>
          </tr>
          <tr>
              <td>Department</td>
              <td>{{userData.dept}}</td>
          </tr>
          <tr>
              <td>Designation</td>
              <td>{{userData.designation}}</td>
          </tr>
          <tr>
              <td>Work Location</td>
              <td>{{userData.geography}}</td>
          </tr>
         
          
        </table>
        
    </div>
    
