.nav{
  padding: 60px 20px 10px 0px;
  

}
.header{
  font-weight: 200;
  font-family: 'Arial', Times, serif;
    font-size: 20px;
    padding: 50px 20px 10px 250px;
    margin: 10px;
    width: 100%;
    
}
.tableInfo{
    padding: 30px 30px 60px 80px;
}
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 80%;
    padding: 20px 20px 20px 20px;
    justify-content: center;
  }
  
  td{
    border: 1px solid #dddddd;
    text-align: center;
    padding: 15px ;

  } 
  th {
    border: 1px solid #dddddd;
    text-align: center;
    font-weight: bolder;
    padding: 15px ;
  }
  
  