<p> Show time submission</p>
<button (click)="open(content)"> Submit Time</button>

<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Profile update</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p> Submit Time/ Leave : </p>
     <div>
      <label>From Date: </label>
      <input [(ngModel)]="timeData.from_date" />
     </div>
     <div>
      <label>To Date: </label>
      <input [(ngModel)]="timeData.to_date" />
     </div>
    <div>
      <label>Type: </label>
     
      <select  [(ngModel)]="timeData.time_type" >

          <option >Casual Leave</option>
          <option >Sick Leave</option>
          <option >Earned Leave</option>
          <option >Regular</option>
          <option >Work From Home</option>
          <option >Week Off</option>
          <option >Holiday</option>
          <option >Comp Time off</option>
      </select>
      <div>
        <label>Hours: </label>
        <input type="text" [(ngModel)]="timeData.hours">
      </div>
      <label for="w3review">Remarks:</label>
      <p>
      
      <textarea [(ngModel)]="timeData.remarks" id="w3review" name="w3review" rows="4" cols="50"></textarea>
      </p>
      
        
      
    </div>
    
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Submit Time</button>
  </div>
</ng-template>