<div class = "tableInfo" id="professional" >
    <div class="header">    <h1 class="table_summary_heading">Professional info Summary</h1></div>

    <table>
        <tr>
            <th>Full Name</th>
            <td>{{userData.full_name}}</td>
        </tr>
        <tr>
            <th>Reporting Manager</th>
            <td>{{userData.manager_name}}</td>
        </tr>
        <tr>
            <th>Employee Start Date</th>
            <td>{{userData.emp_start_date}}</td>
        </tr>
        <tr>
            <th>Project Assigned Date</th>
            <td>{{userData.emp_project_assigned_date}}</td>
        </tr>
        <tr>
            <th>Project Name</th>
            <td>{{userData.project_name}}</td>
        </tr>
        <tr>
            <th>Resource Status</th>
            <td>{{userData.resource_status}}</td>
        </tr>
      </table>
  </div>
  