<div class="sidebar" *ngIf="login === true">
    <div class="divide_sidebar">
        <div class="login_user_info">
            <hr class="line_hr">
        </div>
        <div class="main_menu">
            <p  routerLink="/" (click)="employeeDropDown('', 'home_list')" id="home_list" class="main_menu_content">
                <span>Home</span>
            </p>
            <p (click)="employeeDropDown('employeeDropDownList', 'emp_list')" id="emp_list" class="main_menu_content">
                <span>Employee</span>
                <span>
                    <div *ngIf="dropDownList['employeeDropDownList']; then thenBlock else elseBlock"></div>
                    <ng-template #thenBlock>
                        <fa-icon [icon]='faChevronDown'></fa-icon>
                    </ng-template>
                    <ng-template #elseBlock>
                        <fa-icon [icon]='faChevronRight'></fa-icon>
                    </ng-template>
                </span>
            </p>
            <div class="sub_menu" *ngIf="dropDownList['employeeDropDownList']">
                <a class="dropdown-item" href="#" routerLink="/addemployee">Add Employee</a>
                <a class="dropdown-item" href="#" routerLink="/employee">View Employee</a>
                <a class="dropdown-item" href="#" routerLink="/timesubmission">Time Submissions</a>
            </div>
            <p (click)="employeeDropDown('projectDropDownList','project_list')" id="project_list" class="main_menu_content">
                <span>Projects</span>
                <span>
                    <div *ngIf="dropDownList['projectDropDownList']; then thenBlock else elseBlock"></div>
                    <ng-template #thenBlock>
                        <fa-icon [icon]='faChevronDown'></fa-icon>
                    </ng-template>
                    <ng-template #elseBlock>
                        <fa-icon [icon]='faChevronRight'></fa-icon>
                    </ng-template>
                </span>
            </p>
            <div class="sub_menu" *ngIf="dropDownList['projectDropDownList']">
                <a class="dropdown-item" href="#" routerLink="/addproject">Add Project</a>
                <a class="dropdown-item" href="#" routerLink="/project">View Projects</a>
                <a class="dropdown-item" href="#">Add Resource to Project</a>
            </div>
            <p (click)="employeeDropDown('accountDropDownList','account_list')" id="account_list" class="main_menu_content">
                <span>Account</span>
                <span>
                    <div *ngIf="dropDownList['accountDropDownList']; then thenBlock else elseBlock"></div>
                    <ng-template #thenBlock>
                        <fa-icon [icon]='faChevronDown'></fa-icon>
                    </ng-template>
                    <ng-template #elseBlock>
                        <fa-icon [icon]='faChevronRight'></fa-icon>
                    </ng-template>
                </span>
            </p>
            <div class="sub_menu" *ngIf="dropDownList['accountDropDownList']">
                <a class="dropdown-item" href="#" routerLink="/personal">Personal Summary</a>
                <a class="dropdown-item" href="#" routerLink="/professional">Professional Summary</a>
                <a class="dropdown-item" href="#" routerLink="/time">Time Summary</a>
                <a class="dropdown-item" href="#" routerLink="/professional"> Pay Info</a>
                <a class="dropdown-item" href="#" (click)="logout()">Logout</a>
            </div>
            <hr class="line_hr">
        </div>
        <div></div>
    </div>
</div>