
<div class="forget_page_bg">
  <div class="forget_page_style">
    <p class="sign_reset" style="margin-top: 15%">Reset Password</p>
    <h6>Welcome:  {{email}} </h6>
<!--    <h6>Please reset your password</h6>-->
    <div class="mail_pass">
        <div>
         <input required placeholder="password" name='password' #password  class="form-control"  type="password">
        </div>
      <div>
        <input required  placeholder="confirm password"
                                 name='confirmPassword' #confirmPassword  class="form-control"  type="password">
      </div>
      <div class="forget_page_btn">
        <button (click)="resetPassword(email,password.value,confirmPassword.value)" type="submit" class="btn ">Submit</button>
      </div>

    </div>
  </div>
</div>

<!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">-->
<!--<body>-->
<!--<div class="form-gap"></div>-->
<!--<div class="container" style="margin-left: 25%">-->
<!--	<div class="row">-->
<!--		<div class="col-md-4 col-md-offset-4">-->
<!--            <div class="panel panel-default">-->
<!--              <div class="panel-body">-->
<!--                <div class="text-center">-->
<!--                  <h3><i class="fa fa-lock fa-4x"></i></h3>-->
<!--                  <h2 class="text-center">Reset Password?</h2>-->
<!--                  <p style="font:bold">Please reset your password here.</p>-->
<!--                  <div class="panel-body">-->
<!--                    <form id="register-form" role="form" autocomplete="off" class="form" method="post">-->
<!--                      <div class="form-group">-->
<!--                        <div class="input-group">-->
<!--                           <h4>Wellcome,  {{email}}</h4>-->
<!--                          <input required id="text1" value='password' placeholder="password" name='password' #password  class="form-control"  type="password">-->
<!--                        </div>-->
<!--                        <div class="input-group">-->
<!--                          <input required id="text2" value='confirmPassword' placeholder="confirm password"-->
<!--                                 name='confirmPassword' #confirmPassword  class="form-control"  type="password">-->
<!--                        </div>-->
<!--                      </div>-->
<!--&lt;!&ndash;                      <div class="form-group">&ndash;&gt;-->
<!--&lt;!&ndash;                        <button (click)="resetPassword(email,password.value,confirmPassword.value)">Submit</button>&ndash;&gt;-->
<!--&lt;!&ndash;                      </div>&ndash;&gt;-->
<!--                      <div class="add_btn-emp">-->
<!--                        <button (click)="resetPassword(email,password.value,confirmPassword.value)" type="submit" class="btn ">Submit</button>-->
<!--                      </div>-->

<!--                    </form>-->
<!--                  </div>-->
<!--                </div>-->
<!--              </div>-->
<!--            </div>-->
<!--          </div>-->
<!--	</div>-->
<!--</div>-->
<!--</body>-->

