<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
<body>
<div class="form-gap"></div>
<div class="container" style="margin-left: 25%">
	<div class="row">
		<div class="col-md-4 col-md-offset-4">
            <div class="panel panel-default">
              <div class="panel-body">
                <div class="text-center">
                  <h3><i class="fa fa-lock fa-4x"></i></h3>
                  <h2 class="text-center">Reset Password?</h2>
                  <p style="font:bold">Please reset your password here.</p>
                  <div class="panel-body">
                    <form id="register-form" role="form" autocomplete="off" class="form" method="post">
                      <div class="form-group">

                          <h2>Wellcome,</h2>
                          <input [(ngModel)]='email' /> <br/><br/>
                          <p> {{email}} </p>
                          <br/><br/>

                        <div class="input-group">
                          <span class="input-group-addon"><i class="glyphicon glyphicon-envelope color-blue"></i></span>



                          <input id="text"  [(ngModel)]="email" name='UserId' #UserId class="form-control"  type="email">


                        </div>
                        <div class="input-group">
                          <span class="input-group-addon"><i class="glyphicon glyphicon-envelope color-blue"></i></span>
                          <input id="text1" value='password' name='password' #password  class="form-control"  type="password">
                        </div>
                        <div class="input-group">
                          <span class="input-group-addon"><i class="glyphicon glyphicon-envelope color-blue"></i></span>
                          <input id="text2" value='confirmPassword' name='confirmPassword' #confirmPassword  class="form-control"  type="password">
                        </div>

                      </div>
                      <div class="form-group">
                        <button (click)="resetPassword(UserId.value,password.value,confirmPassword.value)">Submit</button>
                      </div>
                      <!-- <input type="hidden" class="hide" name="token" id="token" value=""> -->
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
	</div>
</div>
</body>
